region               = "eu-west-2"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.10.0/24", "10.0.11.0/24"]
private_subnet_cidrs = ["10.0.20.0/24", "10.0.21.0/24"]
azs                  = ["eu-west-2a", "eu-west-2b"]
project_name         = "cloud-design"
dockerhub_username   = "yelmach"
billing_db_password = "put_your_password_here"
inventory_db_password = "put_your_password_here"
rabbitmq_password = "put_your_password_here"